[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.1.10"
django-bootstrap5 = "*"
django-allauth = "*"
django-simple-menu = "*"
django-environ = "*"
django-filter = "*"
markdown = "*"
djangorestframework = "*"
drf-spectacular = {extras = ["sidecar"], version = "*"}
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
django-debug-toolbar = "*"
django-ajax-datatable = "*"
pillow = "*"
pip = "*"
dj-rest-auth = "*"
django-htmx = "*"
django-bootstrap-form = "*"
django-bootstrap-modal-forms = "*"
gunicorn = "*"
whitenoise = "*"
psycopg-binary = "*"
pytest-django = "*"
install = "*"
pyyaml = "*"
uritemplate = "*"

[dev-packages]
pyflakes = "*"

[requires]
python_version = "3.10"
