[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.1.4"
django-bootstrap4 = "*"
django-allauth = "*"
django-simple-menu = "*"
django-environ = "*"


[dev-packages]
pyflakes = "*"

[requires]
python_version = "3.10"
