<!DOCTYPE html>
{% load django_bootstrap5 %}
{% load simple_menu %}
{% load i18n %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block extrastyle %}

{% endblock extrastyle %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}





    <header>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">Roll Call</a>
            {% generate_menu %}
            {% include 'menu.html' with menu=menus.user navbar_class="ms-auto" %}
        </div>
    </nav>
    {% if has_submenu %}
        <nav class="navbar navbar-expand navbar-light bg-light"
             style="height:2.75rem">
            <div class="container">
                {% include 'menu.html' with menu=submenu %}
            </div>
        </nav>
    {% endif %}
</header>

    <main role="main" class="container">
      <div class="jumbotron">
              {% block content %}
            {% endblock %}
          </div>
        </main>
      </div>
    </div>
{% block extrajs %}
{% endblock extrajs %}
</body>

